[user]
	email = frederick.beaulieu@hotmail.com
	name = Frédérick Beaulieu
	signingKey =
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program =
	allowedSignersFile =
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

{{ if eq .profile "work" -}}
# Canac work identity: everything under ~/Git is work
[includeIf "gitdir:~/Git/"]
	path = ~/.config/git/canac
# Backup rule: canac remotes cloned anywhere else
[includeIf "hasconfig:remote.*.url:https://github.com/canac-org/**"]
	path = ~/.config/git/canac
[includeIf "hasconfig:remote.*.url:git@github.com:canac-org/**"]
	path = ~/.config/git/canac
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/canac-org/**"]
	path = ~/.config/git/canac
[includeIf "hasconfig:remote.*.url:https://*bitbucket.org/canac/**"]
	path = ~/.config/git/canac
[includeIf "hasconfig:remote.*.url:git@bitbucket.org:canac/**"]
	path = ~/.config/git/canac
[includeIf "hasconfig:remote.*.url:ssh://git@bitbucket.org/canac/**"]
	path = ~/.config/git/canac
{{ end -}}
