{
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "permissions": {
    "allow": [
      "Skill(update-config)",
      "Bash(gh repo *)",
      "Bash(gh api *)",
      "Bash(claude plugin *)",
      "WebSearch"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./**/.env)",
      "Read(./secrets/**)",
      "Read(./config/credentials.json)"
    ],
    "defaultMode": "auto"
  },
  "model": "claude-fable-5[1m]",
  "statusLine": {
    "type": "command",
    "command": "bunx -y ccstatusline@latest",
    "padding": 0,
    "refreshInterval": 10,
    "hideVimModeIndicator": true
  },
  "enabledPlugins": {
    "caveman@caveman": true,
    "code-simplifier@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "frontend-design@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "gopls-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true{{ if eq .profile "work" }},
    "gitkraken-hooks@gitkraken": true,
    "jdtls-lsp@claude-plugins-official": true{{ end }}
  },
  "extraKnownMarketplaces": {
    "caveman": {
      "source": {
        "source": "github",
        "repo": "JuliusBrussee/caveman"
      }
    }{{ if eq .profile "work" }},
    "gitkraken": {
      "source": {
        "source": "directory",
        "path": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/gitkraken"
      }
    }{{ end }}
  },
  "spinnerVerbs": {
    "mode": "replace",
    "verbs": [
      " "
    ]
  },
  "effortLevel": "xhigh",
  "tui": "fullscreen",
  "theme": "custom:tokyo-night",
  "editorMode": "vim",
  "inputNeededNotifEnabled": true,
  "agentPushNotifEnabled": true,
  "skipAutoPermissionPrompt": true
}
