layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }

    ui name="editor" {
        pane split_direction="horizontal" {
            pane command="/opt/homebrew/bin/nvim" size="80%" name="nvim"
            pane command="/opt/homebrew/bin/tuitui" size="20%" name="tuitui"
        }
    }
}
