#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Frederick Beaulieu"
email = "frederick.beaulieu@hotmail.com"

{{ if eq .profile "work" -}}
# Canac work identity: everything under ~/Git is work
[[--scope]]
--when.repositories = ["~/Git"]
[--scope.user]
email = "frederick.beaulieu@canac.ca"
{{ end -}}
