layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }

    ui name="agents" {
        pane split_direction="vertical" {
            pane command="/opt/homebrew/bin/claude" size="50%" name="claude"
            pane command="/opt/homebrew/bin/tuitui" size="50%" name="tuitui"
        }
    }

    ui name="editor" {
        pane command="/opt/homebrew/bin/nvim" name="nvim"
    }
}
